::-webkit-scrollbar {width: 6px; background: transparent; margin: 0.5em;}
::-webkit-scrollbar-thumb {width: 6px; border-radius: 10px; background-color: #aaa;}
::selection {background: #000000; color: #fff;}
::-moz-selection {background: #000000; color: #fff;}

iframe {display:inline-block; overflow-x:hidden; border: none;}

body {font-family: monospace; letter-spacing: -0.35px;}

a {font-family: monospace; letter-spacing: -0.35px;  font-size:17px; color:#000000; text-decoration: none;}
a:hover {font-family: monospace; letter-spacing: -0.35px;  font-size:17px; text-decoration: none; color:#fff; background-color:#000000;}
a:selection {font-family: monospace; letter-spacing: -0.35px;  font-size:17px; text-decoration: none; color:#000000;}
a img:hover {background-color: none;}

b {font-family: monospace; letter-spacing: -0.35px;  font-size:24px; color: #000000;}
pre {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color:#000;}
mark {color: #000000;}

.inline {display: inline-block;}

.blog {
  padding: 12px;
  display: block;
  width: 600px;
  max-height:500px;
  padding-right: 7px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace; letter-spacing: -0.35px;
  font-size: 16px;
}
.title {font-size:18px; color:#000}
.date {font-size: 12px; color:#000000;}
.text {font-size: 14px; color:#000000;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}
  
.grid-item {
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.grid-item img {
    width: 100%;
    height: auto;
}